* {
  margin: 0;
  font-family: "Inter";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lady_moving {
  animation: mover 3s infinite;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 544px) {
  .MuiDialog-paperScrollPaper {
    width: 100%;
  }
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #7a52f4 !important;
  color: white !important;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  color: #797979 !important;
}
.chatBody {
  flex: 1;
  height: 500px!important;
  overflow-Y: scroll;
  padding: 30px;
}
.chat-msg {
  position: relative;
  font-size: 1.2rem;
  padding: 5px;
  display: flex;
  width: fit-content;

  
  margin-bottom: 2rem;
}
.chat-reciver {
  margin-left: auto;
}
.chat_timestamps {
  margin-left: 10px;
  font-size: x-small;
}
.chat-name {
  font-size: small;
  position: absolute;
  top: -16px;
  font-weight: 800;
}
/* .css-uj4o2e-MuiButtonBase-root-MuiTab-root {
  min-height: 42px !important;
  min-width: 75px !important;
} */
